*
!setup.py
!setup.cfg
!requirements.txt
!poetry.lock
!pyproject.toml
!README.md
!CHANGES.md
!MANIFEST.in
!tilecloud_chain/*
!docker/run
!development.ini
!production.ini
!gunicorn.conf.py
!.prospector.yaml
!.bandit.yaml
!jsonschema-gentypes.yaml
