*.py[co]
/dist
/.build
/.mypy_cache/
/PYPI.md
/tilecloud_chain.egg-info/
/tilecloud_chain/tests/error.list
/tilecloud_chain/tests/mapcache.xml
/tilecloud_chain/tests/tiles.conf
/.github/changelog-generator-cache
