exclude: |-
  (?x)^(
    tilecloud_chain/configuration\.py
  )$

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: detect-private-key
      - id: check-merge-conflict
      - id: check-ast
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
      - id: check-json
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
  - repo: https://github.com/sbrunner/integrity-updater
    rev: 1.0.2
    hooks:
      - id: integrity-updater
  - repo: https://github.com/mheap/json-schema-spell-checker
    rev: main
    hooks:
      - id: json-schema-spell-checker
        files: tilecloud_chain/schema.json
        args:
          - --fields=description
          - --ignore-numbers
          - --ignore-acronyms
          - --en-us
          - --spelling=.github/spell-ignore-words.txt
  - repo: https://github.com/mheap/json-schema-spell-checker
    rev: main
    hooks:
      - id: json-schema-spell-checker
        files: tilecloud_chain/host-limit-schema.json
        args:
          - --fields=description
          - --ignore-numbers
          - --ignore-acronyms
          - --en-us
          - --spelling=.github/spell-ignore-words.txt
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@2.8.4
  - repo: https://github.com/camptocamp/jsonschema-gentypes
    rev: 2.12.0
    hooks:
      - id: jsonschema-gentypes
        files: |-
          (?x)^(
            jsonschema-gentypes\.yaml
            |^tilecloud_chain/schema\.json
            |^tilecloud_chain/.*-schema\.json
          )$
  - repo: https://github.com/sbrunner/jsonschema2md2
    rev: 1.7.0
    hooks:
      - id: jsonschema2md
        files: tilecloud_chain/schema\.json
        args:
          - --pre-commit
          - tilecloud_chain/schema.json
          - tilecloud_chain/CONFIG.md
      - id: jsonschema2md
        files: tilecloud_chain/host-limit-schema\.json
        args:
          - --pre-commit
          - tilecloud_chain/host-limit-schema.json
          - tilecloud_chain/HOST_LIMIT.md
  - repo: https://github.com/sbrunner/hooks
    rev: 1.6.1
    hooks:
      - id: copyright
      - id: poetry2-lock
        additional_dependencies:
          - poetry==2.2.1 # pypi
      - id: canonicalize
      - id: prospector-to-ruff
        additional_dependencies:
          - prospector-profile-duplicated==1.10.5 # pypi
          - prospector-profile-utils==1.26.5 # pypi
        args:
          - --test=utils:tests
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        exclude: ^(.*/)?poetry\.lock$
        args:
          - --ignore-words=.github/spell-ignore-words.txt
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.34.1
    hooks:
      - id: check-github-actions
      - id: check-github-workflows
      - id: check-jsonschema
        name: Check GitHub Workflows set timeout-minutes
        files: ^\.github/workflows/[^/]+$
        types:
          - yaml
        args:
          - --builtin-schema
          - github-workflows-require-timeout
  - repo: https://github.com/sirwart/ripsecrets
    rev: v0.1.9
    hooks:
      - id: ripsecrets
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-format
  - repo: https://github.com/PyCQA/prospector
    rev: v1.17.3
    hooks:
      - id: prospector
        args:
          - --profile=utils:pre-commit
          - --profile=.prospector.yaml
          - --die-on-tool-error
          - --output-format=pylint
        exclude: |-
          (?x)^(
            tilecloud_chain/tests/.*
          )$
        additional_dependencies:
          - prospector-profile-duplicated==1.10.5 # pypi
          - prospector-profile-utils==1.26.5 # pypi
          - pylint[spelling]==3.3.9 # pypi
          - ruff==0.14.3 # pypi
      - id: prospector
        args:
          - --die-on-tool-error
          - --output-format=pylint
          - --profile=utils:tests
          - --profile=utils:pre-commit
        additional_dependencies:
          - prospector-profile-utils==1.26.5 # pypi
  - repo: https://github.com/sbrunner/jsonschema-validator
    rev: 1.0.0
    hooks:
      - id: jsonschema-validator
        files: |-
          (?x)^(
            ci/config\.yaml
            |\.github/publish\.yaml
            |jsonschema\-gentypes\.yaml
          )$
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.168.0
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/sbrunner/python-versions-hook
    rev: 1.1.2
    hooks:
      - id: python-versions
