language: python

python:
- 2.6
- 2.7

env:
  global:
  - BERKELEYDB_LIBDIR=/usr/lib/x86_64-linux-gnu BERKELEYDB_INCDIR=/usr/include

before_install:
- echo 'yes' | sudo add-apt-repository ppa:stephane-brunner/precise
- echo 'yes' | sudo add-apt-repository ppa:mapnik/v2.2.0
- sudo apt-get update
- sudo apt-get install -y libmapnik-dev python-mapnik apache2 cgi-mapserver deploy libdb-dev optipng
- sudo -u postgres tilecloud_chain/tests/create_test_data.sh
- sudo cp tilecloud_chain/tests/apache.conf /etc/apache2/sites-enabled/apache.conf
- sudo apache2ctl graceful

- ssh-keygen -t rsa -C your_email@youremail.com -P '' -f ~/.ssh/id_rsa
- cat /home/travis/.ssh/id_rsa.pub >> /home/travis/.ssh/authorized_keys
- ln -s /home/travis/.ssh/authorized_keys /home/travis/.ssh/authorized_keys2
- echo "Host localhost" >> /home/travis/.ssh/config
- echo "    StrictHostKeyChecking no" >> /home/travis/.ssh/config
- chmod g-rw,o-rw /home/travis/.ssh/*

- sudo tilecloud_chain/tests/create-deploy.sh

- sudo mkdir /tmp/tests
- sudo chmod g+s,o+w /tmp/tests

install:
- pip install -U mapnik2==2.2.0 --use-mirrors
- python bootstrap.py -v 1.7.1
- ./buildout/bin/buildout 

script:
- find tilecloud_chain -name \*.py | xargs ./buildout/bin/flake8 --max-line-length=120
- ./buildout/bin/python setup.py nosetests

after_success:
# Report coverage results to coveralls.io
- pip install coveralls
- coveralls

notifications:
  email:
    recipients:
    - stephane.brunner@gmail.com
