language: python

python:
- 2.7
- 3.3
- 3.4

env:
  global:
  - BERKELEYDB_LIBDIR=/usr/lib/x86_64-linux-gnu BERKELEYDB_INCDIR=/usr/include

before_install:
- sudo sed -i '/plugin_directory/d' /etc/boto.cfg
- ssh-keygen -t rsa -C your_email@youremail.com -P '' -f ~/.ssh/id_rsa
- cat /home/travis/.ssh/id_rsa.pub >> /home/travis/.ssh/authorized_keys
- ln -s /home/travis/.ssh/authorized_keys /home/travis/.ssh/authorized_keys2
- echo "Host localhost" >> /home/travis/.ssh/config
- echo "    StrictHostKeyChecking no" >> /home/travis/.ssh/config
- chmod g-rw,o-rw /home/travis/.ssh/*

- chmod 644 ~/.bashrc
- echo "PATH=${PATH}" > ~/.bashrc

- sudo rm -f /etc/apt/sources.list.d/pgdg-source.list
- sudo rm -rf /usr/local
- echo 'yes' | sudo add-apt-repository ppa:stephane-brunner/precise
- echo 'yes' | sudo add-apt-repository ppa:mapnik/v2.2.0
- echo 'yes' | sudo add-apt-repository ppa:ubuntu-toolchain-r/test
- sudo apt-get update
- sudo apt-get install -y --force-yes libstdc++-4.9-dev libc6 libmapnik-dev apache2 cgi-mapserver deploy libdb-dev optipng postgresql-9.1-postgis-2.0=2.0.3-2~precise4 postgis=2.0.3-2~precise4

- sudo -u postgres tilecloud_chain/tests/create_test_data.sh
- sudo cp tilecloud_chain/tests/apache.conf /etc/apache2/sites-enabled/apache.conf
- sudo apache2ctl graceful

- sudo tilecloud_chain/tests/create-deploy.sh

- sudo mkdir /tmp/tests
- sudo chmod g+s,o+w /tmp/tests

install:
- pip install --upgrade pip
- if [[ ${TRAVIS_PYTHON_VERSION} == 2.7 ]] ; then pip install mapnik ; fi
- pip install bsddb3
- pip install -r requirements.txt
- pip install -r dev-requirements.txt
- pip install .
- touch tilecloud_chain/OpenLayers.js

script:
- flake8 --max-line-length=120 tilecloud_chain
- vvv-validate-rst README.rst
- vvv-validate-rst CHANGES.rst
- python setup.py --long-description > PYPI.rst
- vvv-validate-rst PYPI.rst
- python setup.py nosetests --nocapture --nologcapture --stop -a '!'nopy${TRAVIS_PYTHON_VERSION/./} -a '!'nopy`echo $TRAVIS_PYTHON_VERSION | awk -F . '{{print $1}}'`
- if [ ${TRAVIS_PULL_REQUEST} != "false" ] ; then git diff --check ${TRAVIS_BRANCH} -- ; fi

after_failure:
- python setup.py nosetests --logging-filter=tilecloud,tilecloud_chain -a '!'nopy${TRAVIS_PYTHON_VERSION/./} -a '!'nopy`echo $TRAVIS_PYTHON_VERSION | awk -F . '{{print $1}}'`

after_success:
# Report coverage results to coveralls.io
- pip install coveralls
- coveralls

deploy:
- provider: pypi
  user: sbrunner
  password:
    secure: "ZDpDuMznPwMQlZHQCUvWhnsVIdZdhZPVVuFCi+89Cvv1nh78LVe+DKxNohUIUsPNyF+MDI7uL3bH2mIH4oKSTxoxATZZM+bUgSznpbO0HE+sF4GoauFzxbTrYjDCMKE3JJNz+vKnuuO71oTl5+j6+sYjYzJIHk3OC2o/WLNl964="
  skip_cleanup: true
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: 2.7
    condition: '"${TRAVIS_TAG}" == "`python setup.py --version`"'
