include README.rst
include CHANGES.rst
recursive-include tilecloud_chain/scaffolds/create *
include tilecloud_chain/OpenLayers.js
include tilecloud_chain/OpenLayers-style.css
include tilecloud_chain/layer-switcher-maximize.png
include tilecloud_chain/layer-switcher-minimize.png
