[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[packages]
c2cwsgiutils = "==4.0.1"
pykwalify = "==1.7.0"
pyramid-mako = "==1.1.0"
python-dateutil = "==2.8.1"
redlock-py = "==1.0.8"
tilecloud = "==1.6.2"
Jinja2 = "==2.11.3"
PyYAML = "==5.4.1"
Shapely = "==1.7.1"
cee_syslog_handler = "==0.5.0"  # c2cwsgiutils
gunicorn = "==20.0.4"  # c2cwsgiutils
objgraph = "==3.5.0"  # c2cwsgiutils
psycopg2 = "==2.8.6"  # c2cwsgiutils
pyramid-tm = "==2.4"  # c2cwsgiutils
sentry-sdk = "==0.19.1"  # c2cwsgiutils
sqlalchemy = "==1.3.20"  # c2cwsgiutils
transaction = "==3.0.0"  # c2cwsgiutils
ujson = "==4.0.1"  # c2cwsgiutils
cornice = "==5.0.3"  # c2cwsgiutils
"zope.sqlalchemy" = "==1.3"  # c2cwsgiutils
# Pin
"azure-core" = "==1.13.0"
"azure-storage-blob" = "==12.8.0"
"boto3" = "==1.16.4"
"botocore" = "==1.19.4"
"bottle" = "==0.12.19"
"certifi" = "==2020.6.20"
"cffi" = "==1.14.5"
"chardet" = "==3.0.4"
"cryptography" = "==3.4.7"
"docopt" = "==0.6.2"
"graphviz" = "==0.14.2"
"hupper" = "==1.10.2"
"idna" = "==2.10"
"isodate" = "==0.6.0"
"jmespath" = "==0.10.0"
"mako" = "==1.1.3"
"markupsafe" = "==1.1.1"
"msrest" = "==0.6.21"
"oauthlib" = "==3.1.0"
"pastedeploy" = "==2.1.1"
pillow = "==8.2.0"
"plaster" = "==1.0"
"plaster-pastedeploy" = "==0.7"
"pycparser" = "==2.20"
"pyproj" = "==2.6.1.post1"
"pyramid" = "==1.10.4"
"redis" = "==3.5.3"
"requests" = "==2.24.0"
"requests-oauthlib" = "==1.3.0"
"s3transfer" = "==0.3.3"
"six" = "==1.15.0"
"translationstring" = "==1.4"
"urllib3" = "==1.25.11"
"venusian" = "==3.0.0"
"webob" = "==1.8.6"
"zope.deprecation" = "==4.4.0"
"zope.interface" = "==5.1.2"

[dev-packages]
coverage = "==5.3"
testfixtures = "==6.15.0"
pytest = "==6.1.1"
mypy = "==0.790"
prospector = "==1.3.1"
flake8 = "==3.8.4"
