[[source]]
name = "pypi"
url = "https://pypi.org/simple/"
verify_ssl = true

[packages]
c2cwsgiutils = "==4.1.1"
pyramid-mako = "==1.1.0"
python-dateutil = "==2.8.1"
redlock-py = "==1.0.8"
tilecloud = "==1.6.1"
Jinja2 = "==2.11.3"
PyYAML = "==5.4.1"
Shapely = "==1.7.1"
cee_syslog_handler = "==0.6.0"  # c2cwsgiutils
gunicorn = "==20.1.0"  # c2cwsgiutils
objgraph = "==3.5.0"  # c2cwsgiutils
psycopg2 = "==2.8.6"  # c2cwsgiutils
pyramid-tm = "==2.4"  # c2cwsgiutils
sentry-sdk = "==1.1.0"  # c2cwsgiutils
sqlalchemy = "==1.4.14"  # c2cwsgiutils
transaction = "==3.0.1"  # c2cwsgiutils
ujson = "==4.0.2"  # c2cwsgiutils
cornice = "==5.2.0"  # c2cwsgiutils
"zope.sqlalchemy" = "==1.3"  # c2cwsgiutils
jsonschema = "==3.2.0"
pyramid = "==1.10.8"

[dev-packages]
coverage = "==5.5"
testfixtures = "==6.17.1"
pytest = "==6.2.4"
mypy = "==0.812"
prospector = "==1.3.1"
flake8 = "==3.8.0"
