poetry==1.2.2
poetry-plugin-export==1.2.0
poetry-plugin-tweak-dependencies-version==1.1.0
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=39.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
