<html>
  <head>
    <title>The tile generation admin interface</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body class="px-5 py-4">
    <h1 class="bd-title">Tile generation</h1>
    %if not auth:
    <form>
      Secret: <input type="password" name="secret" />
      <input type="submit" value="OK" />
    </form>
    %else:
    <h2>Status</h2>
    <p>${'<br />'.join(status)|n}</p>
    <h2>Launch generation</h2>
    <form id="command-form" class="form-inline">
      <label for="staticEmail2" class="sr-only">Command</label>
      <input id="command" type="text" name="command" class="form-control" placeholder="Command" />
      <button type="submit" class="btn btn-primary mb-2">Start</button>
      %if secret is not None:
      <input type="hidden" name="secret" value="${secret}" />
      %endif
    </form>
    <p>
      %for command in commands:
      <button class="btn btn-outline-primary command" data-role="${command.get('command', '')}">
        ${command.get('name', 'Unnamed')}
      </button>
      %endfor
    </p>
    %endif
    <span id="result"></span>

    <h2>Test</h2>
    <p>See the result in <a href="/${admin_path}/test">the test page</a>.</p>

    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.4/umd/popper.min.js"
      integrity="sha512-+Tn2V/oN9O/kiaJg/1o5bETqyS35pMDJzkhkf8uvCzxmRox69AsWkSpBSMEGEe4EZp07Nunw712J3Xvh5Tti0w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(document).ready(function () {
        $('.command').click((handler) => {
          $('#command').val(handler.target.dataset.role);
        });
        $('#command-form').submit((event) => {
          $('#result').html('');
          event.preventDefault();

          fetch('${run_url}', {
            body: new FormData(document.getElementById('command-form')),
            method: 'POST',
          })
            .then((response) => {
              return response.json();
            })
            .then((data) => {
              if (data.error) {
                $('#result').html(
                  `<p class="alert alert-danger" role="alert">${'$'}{data.error.replaceAll('\n', '<br/>')}</p>`
                );
              } else {
                if (data.returncode == 0) {
                  if (data['stdout'] || data['stderr']) {
                    $('#result').html(
                      `<p class="alert alert-success" role="alert">${'$'}{data.stdout.replaceAll('\n', '<br/>')}${'$'}{data.stderr.replaceAll('\n', '<br/>')}</p>`
                    );
                  } else {
                    $('#result').html(`<p class="alert alert-success" role="alert">Success</p>`);
                  }
                } else {
                  $('#result').html(
                    `<p class="alert alert-danger" role="alert">Return code: ${'$'}{data.returncode}<br/>${'$'}{data.stdout.replaceAll('\n', '<br/>')}<br/>${'$'}{data.stderr.replaceAll('\n', '<br/>')}</p>`
                  );
                }
              }
            })
            .catch((error) => {
              console.error(error);
              $('#result').html(`<div class="alert alert-danger" role="alert">${'$'}{error}</div>`);
            });
        });
      });
    </script>
  </body>
</html>
