<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The tile generation admin interface</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="${request.static_url('/app/tilecloud_chain/static/favicon-32x32.png')}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="${request.static_url('/app/tilecloud_chain/static/favicon-16x16.png')}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/css/bootstrap.min.css"
      integrity="sha512-fw7f+TcMjTb7bpbLJZlP8g2Y4XcCyFZW8uy8HsRZsH/SwbMw0plKHFHr99DN3l04VsYNwvzicUX/6qurvIxbxw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body class="px-5 py-4">
    <script>
      /* For dark mode */
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-bs-theme', 'dark');
      }
    </script>
    <div style="position: absolute; right: 3rem; top: 2rem">
      %if not request.identity.is_auth and auth_type == AuthenticationType.SECRET:
      <form>
        Secret: <input type="password" name="secret" />
        <input type="submit" value="OK" />
      </form>
      %elif not request.identity.is_auth and auth_type == AuthenticationType.GITHUB:
      <a
        class="btn btn-primary"
        href="${request.route_url('c2c_github_login', _query={'came_from': request.current_route_url()})}"
        >Login with GitHub</a
      >
      %elif auth_type == AuthenticationType.GITHUB:
      <p>
        Logged as: <a href="${request.identity.url}">${request.identity.name}</a>
        <a
          class="btn btn-outline-primary"
          style="vertical-align: baseline; margin-left: 0.5rem"
          href="${request.route_url('c2c_github_logout', _query={'came_from': request.current_route_url()})}"
          >Logout</a
        >
      </p>
      %endif
    </div>
    <h1 class="bd-title">Tile generation</h1>
    <hr />
    <span></span>
    %if has_access:
    <!---->
    %if job_status is None:
    <h2>Status</h2>
    <p>${'<br />'.join(status)|n}</p>
    %endif
    <h2>Launch generation</h2>
    <div class="dropdown">
      <button
        class="btn btn-outline-primary dropdown-toggle"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Predefined commands
      </button>
      <ul class="dropdown-menu">
        %for command in commands:
        <li>
          <button
            class="btn btn-outline-primary command dropdown-item"
            data-role="${command.get('command', '')}"
            data-name="${command.get('name', 'Unnamed')}"
          >
            ${command.get('name', 'Unnamed')}
          </button>
        </li>
        %endfor
      </ul>
    </div>
    <p></p>
    <form id="command-${'form' if jobs_status is None else 'postgresql'}" class="form-inline">
      <div class="input-group">
        %if jobs_status is not None:
        <div class="form-floating mb-3">
          <input
            id="name"
            type="text"
            name="name"
            class="form-control"
            id="floatingName"
            placeholder="Name"
            aria-label="Name"
          />
          <label for="floatingName">Name</label>
        </div>

        %endif
        <div class="form-floating mb-3">
          <input
            id="command"
            type="text"
            name="command"
            class="form-control"
            id="floatingCommand"
            placeholder="Command"
            aria-label="Command"
          />
          <label for="floatingCommand">Command</label>
        </div>
        <button class="btn btn-primary mb-3" type="submit" id="button-run">Start</button>
      </div>
      %if secret is not None:
      <input type="hidden" name="secret" value="${request.params.get('secret')}" />
      %endif
    </form>
    %endif
    <!---->
    %if jobs_status is None:
    <span id="result"></span>
    %endif

    <h2>Test</h2>
    <p>See the result in <a href="/${admin_path}/test">the test page</a>.</p>

    %if jobs_status:
    <h2>Jobs</h2>
    <div class="accordion" id="accordionJobs">
      %for nb, (job, status, errors) in enumerate(jobs_status):
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapse${nb}"
            aria-controls="collapse${nb}"
          >
            ${job.name} (
            <script>
              window.document.write(new Date('${ job.created_at.isoformat() }').toLocaleString());
            </script>
            , ${job.status})
            <!-- ${job.id} -->
          </button>
        </h2>
        <div id="collapse${nb}" class="accordion-collapse collapse">
          <div class="accordion-body">
            <p>
              <code>${job.command}</code>
            </p>
            %if job.message:
            <pre>${job.message.strip() | n,h}</pre>
            %endif
            <!---->
            %if job.status == 'started':
            <p>
              <button type="button" class="btn btn-outline-primary cancel" data-job-id="${job.id}">
                Cancel the tiles generation
              </button>
            </p>
            %elif job.status == 'error' and errors:
            <p>
              <button type="button" class="btn btn-outline-primary retry" data-job-id="${job.id}">
                Retry to generate the tiles in error
              </button>
            </p>
            %endif
            <!---->
            %if status:
            <h4>Status</h4>
            <p>
              %for s in status:
              <!---->
              Zoom level ${s['zoom']}:
              <!---->
              <% comma = False %>
              <!---->
              %if 'generate' in s:
              <!---->
              <% comma = True %>
              <span style="color: var(--bs-success-text-emphasis)"
                >${s['generate']} meta tiles to generate</span
              >
              %endif
              <!---->
              %if 'pending' in s:
              <!---->
              %if comma:
              <!---->
              ,
              <!---->
              %endif
              <!---->
              <% comma = True %>
              <span style="color: var(--bs-primary-text-emphasis)"
                >${s['pending']} meta tiles being generated</span
              >
              %endif
              <!---->
              %if 'error' in s:
              <!---->
              %if comma:
              <!---->
              ,
              <!---->
              %endif
              <span style="color: var(--bs-danger-text-emphasis)">${s['error']} meta tiles in error</span>
              %endif
              <br />
              %endfor
            </p>
            %endif
            <!---->
            %if errors:
            <h4>Errors occur during the generation (max 5)</h4>
            %for e in errors:
            <!---->
            <pre>${e | n,h}</pre>
            %endfor
            <!---->
            %endif
          </div>
        </div>
      </div>
      %endfor
    </div>
    %endif
    <!---->
    %if footer is not None:
    <br />
    <div class="${ footer_classes }">${ footer }</div>
    %endif

    <!---->
    %if has_access:
    <h3>Command help</h3>
    <h4>Examples</h4>

    <p><code>generate-tiles</code>: Generate all the layers.</p>
    <p><code>generate-tiles --layer=LAYER</code>: Generate the <code>LAYER</code> map.</p>
    <p>
      <code>generate-tiles --layer=LAYER --zoom=2-5</code>: Generate the <code>LAYER</code> map for the zoom
      levels 2 to 5.
    </p>
    <p>
      <code>generate-tiles --layer=LAYER --bbox MINX MINY MAXX MAXY</code>: Generate the
      <code>LAYER</code> map for the specified bounding box.
    </p>
    <p><code>generate-controller --generate-legend-images</code>: Generate the legend images.</p>
    <p>
      <code>generate-tiles --layer=LAYER --get-hash=15/0/0</code>: Get the hash for the <code>LAYER</code>.
    </p>
    <p><code>generate-tiles --layer=LAYER --get-bbox=0/0/0</code>: Get the bbox of the tile.</p>

    <h4><code>generate-tiles</code></h4>
    <p>Generate the tiles.</p>
    <p>Arguments:</p>
    <ul>
      <li>
        <code>--layer=NAME</code>: the layer name to generate, it not specified all the layers are generated.
      </li>
      <li>
        <code>--get-hash=Z/X/Y</code>: get the hash configuration for the layer (requires
        <code>--layer</code>).
      </li>
      <li>
        <code>--get-bbox=Z/X/Y[:-N/+N]</code>: get the bbox of a tile, use the specified tile
        <code>Z/X/Y</code>, or <code>Z/X/Y:+N/+N</code> for metatiles (requires <code>--layer</code>).
      </li>
      <li>
        <code>--dimensions DIMENSION=VALUE [DIMENSION=VALUE ...]</code>: overwrite the dimensions values
        specified in the config file.
      </li>
      <li>
        <code>--zoom=ZOOM</code> restrict to specified zoom level, or a zooms range (2-5), or a zooms list
        (2,4,5).
      </li>
      <li><code>--bbox MINX MINY MAXX MAXY</code>: restrict to specified bounding box.</li>
      <li>
        <code>--near X Y</code>: This option is a good replacement of <code>--bbox</code>, to used with
        <code>--time</code> or <code>--test</code> and <code>--zoom</code>, implies <code>--no-geom</code>. It
        automatically measure a bbox around the X Y position that corresponds to the metatiles.
      </li>
      <li><code>--test N</code>: test with generating N tiles.</li>
    </ul>
    <h4><code>generate-controller --generate-legend-images</code></h4>
    <p>Generate the legend images.</p>
    %endif

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
      integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.7/js/bootstrap.min.js"
      integrity="sha512-zKeerWHHuP3ar7kX2WKBSENzb+GJytFSBL6HrR2nPSR1kOX1qjm+oHooQtbDpDBSITgyl7QXZApvDfDWvKjkUw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(document).ready(function () {
        $('.command').click((handler) => {
          $('#name').val(handler.target.dataset.name);
          $('#command').val(handler.target.dataset.role);
        });
        $('#command-form').submit((event) => {
          $('#result').html('');
          event.preventDefault();

          fetch('${request.route_url("admin_run")}', {
            body: new FormData(document.getElementById('command-form')),
            method: 'POST',
          })
            .then((response) => {
              return response.json();
            })
            .then((data) => {
              if (data.error) {
                $('#result').html(`<p class="alert alert-danger" role="alert">${'$'}{data.out}</p>`);
              } else {
                if (data['out']) {
                  $('#result').html(`<p class="alert alert-success" role="alert">${'$'}{data.out}</p>`);
                } else {
                  $('#result').html(`<p class="alert alert-success" role="alert">Success</p>`);
                }
              }
            })
            .catch((error) => {
              console.error(error);
              $('#result').html(`<div class="alert alert-danger" role="alert">${'$'}{error}</div>`);
            });
        });
        $('#command-postgresql').submit((event) => {
          event.preventDefault();

          fetch('${request.route_url("admin_create_job")}', {
            body: new FormData(document.getElementById('command-postgresql')),
            method: 'POST',
          })
            .then((response) => {
              window.location.reload();
            })
            .catch((error) => {
              console.error(error);
              $('#result').html(`<div class="alert alert-danger" role="alert">${'$'}{error}</div>`);
            });
        });
        $('.cancel').click((event) => {
          event.preventDefault();

          let body = new FormData();
          body.append('job_id', event.target.dataset.jobId);
          fetch('${request.route_url("admin_cancel_job")}', {
            method: 'POST',
            body: body,
          })
            .then((response) => {
              window.location.reload();
            })
            .catch((error) => {
              window.alert(error);
            });
        });
        $('.retry').click((event) => {
          event.preventDefault();

          let body = new FormData();
          body.append('job_id', event.target.dataset.jobId);
          fetch('${request.route_url("admin_retry_job")}', {
            method: 'POST',
            body: body,
          })
            .then((response) => {
              window.location.reload();
            })
            .catch((error) => {
              window.alert(error);
            });
        });
      });
    </script>
  </body>
</html>
