<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The tile generation admin interface</title>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="${request.static_url('/app/tilecloud_chain/static/favicon-32x32.png')}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="${request.static_url('/app/tilecloud_chain/static/favicon-16x16.png')}"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css"
      integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    </style>
  </head>
  <body class="px-5 py-4">
    <div style="position: absolute; right: 3rem; top: 2rem">
      %if not request.identity.is_auth and auth_type == AuthenticationType.SECRET:
      <form>
        Secret: <input type="password" name="secret" />
        <input type="submit" value="OK" />
      </form>
      %elif not request.identity.is_auth and auth_type == AuthenticationType.GITHUB:
      <a
        class="btn btn-primary"
        href="${request.route_url('c2c_github_login', _query={'came_from': request.current_route_url()})}"
        >Login with GitHub</a
      >
      %elif auth_type == AuthenticationType.GITHUB:
      <p>
        Logged as: <a href="${request.identity.url}">${request.identity.name}</a>
        <a
          class="btn btn-primary"
          style="vertical-align: baseline; margin-left: 0.5rem"
          href="${request.route_url('c2c_github_logout', _query={'came_from': request.current_route_url()})}"
          >Logout</a
        >
      </p>
      %endif
    </div>
    <h1 class="bd-title">Tile generation</h1>
    <hr />
    <span></span>
    %if has_access:
    <h2>Status</h2>
    <p>${'<br />'.join(status)|n}</p>
    <h2>Launch generation</h2>
    <form id="command-form" class="form-inline">
      <div class="input-group mb-3">
        <input
          id="command"
          type="text"
          name="command"
          class="form-control"
          placeholder="Command"
          aria-label="Command"
          aria-describedby="button-run"
        />
        <button class="btn btn-outline-primary" type="submit" id="button-run">Start</button>
      </div>
      %if secret is not None:
      <input type="hidden" name="secret" value="${request.params.get('secret')}" />
      %endif
    </form>
    <div class="btn-group" role="group" style="margin-bottom: 1rem">
      %for command in commands:
      <button class="btn btn-outline-primary command" data-role="${command.get('command', '')}">
        ${command.get('name', 'Unnamed')}
      </button>
      %endfor
    </div>
    %endif
    <span id="result"></span>

    <h2>Test</h2>
    <p>See the result in <a href="/${admin_path}/test">the test page</a>.</p>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
      integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js"
      integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"
      integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      $(document).ready(function () {
        $('.command').click((handler) => {
          $('#command').val(handler.target.dataset.role);
        });
        $('#command-form').submit((event) => {
          $('#result').html('');
          event.preventDefault();

          fetch('${request.route_url("admin_run")}', {
            body: new FormData(document.getElementById('command-form')),
            method: 'POST',
          })
            .then((response) => {
              return response.json();
            })
            .then((data) => {
              if (data.error) {
                $('#result').html(`<p class="alert alert-danger" role="alert">${'$'}{data.error}</p>`);
              } else {
                if (data.returncode == 0) {
                  if (data['stdout'] || data['stderr']) {
                    $('#result').html(
                      `<p class="alert alert-success" role="alert">${'$'}{data.stdout}${'$'}{data.stderr}</p>`
                    );
                  } else {
                    $('#result').html(`<p class="alert alert-success" role="alert">Success</p>`);
                  }
                } else {
                  $('#result').html(
                    `<p class="alert alert-danger" role="alert">Return code: ${'$'}{data.returncode}<br/>${'$'}{data.stdout}<br/>${'$'}{data.stderr}</p>`
                  );
                }
              }
            })
            .catch((error) => {
              console.error(error);
              $('#result').html(`<div class="alert alert-danger" role="alert">${'$'}{error}</div>`);
            });
        });
      });
    </script>
  </body>
</html>
