<?xml version="1.0" encoding="UTF-8"?>
<Capabilities version="1.0.0"
    xmlns="http://www.opengis.net/wmts/1.0"
    xmlns:ows="http://www.opengis.net/ows/1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:gml="http://www.opengis.net/gml"
    xsi:schemaLocation="http://schemas.opengis.net/wmts/1.0/wmtsGetCapabilities_response.xsd">{%
  if has_metadata %}
  <ows:ServiceIdentification>
    <ows:Title>{{ metadata['title'] }}</ows:Title>{%
    if 'abstract' in metadata %}
    <ows:Abstract>{{ metadata['abstract'] }}</ows:Abstract>{%
    endif %}{%
    if 'keywords' in metadata %}
    <ows:Keywords>{%
    for keyword in metadata['keywords'] %}
        <ows:Keyword>{{ keyword }}</ows:Keyword>{%
    endfor %}
    </ows:Keywords>{%
    endif %}
    <ows:ServiceType>{{ metadata['servicetype'] }}</ows:ServiceType>
    <ows:ServiceTypeVersion>1.0.0</ows:ServiceTypeVersion>{%
    if 'fees' in metadata %}
    <ows:Fees>{{ metadata['fees'] }}</ows:Fees>{%
    endif %}{%
    if 'access_constraints' in metadata %}
    <ows:AccessConstraint>{{ metadata['access_constraints'] }}</ows:AccessConstraint>{%
    endif %}
  </ows:ServiceIdentification>{%
  endif %}{%
  if has_provider %}
  <ows:ServiceProvider>{%
    if 'name' in provider %}
    <ows:ProviderName>{{ provider['name'] }}</ows:ProviderName>{%
    endif %}{%
    if 'url' in provider %}
    <ows:ProviderSite>{{ provider['url'] }}</ows:ProviderSite>{%
    endif %}{%
    if 'contact' in provider %}
    <ows:ServiceContact>{%
      if 'name' in provider['contact'] %}
      <ows:IndividualName>{{ provider['contact']['name'] }}</ows:IndividualName>{%
      endif %}{%
      if 'position' in provider['contact'] %}
      <ows:PositionName>{{ provider['contact']['position'] }}</ows:PositionName>{%
      endif %}{%
      if 'info' in provider['contact'] %}
      <ows:ContactInfo>{%
        if 'phone' in provider['contact']['info'] %}
        <ows:Phone>{%
          if 'voice' in provider['contact']['info']['phone'] %}
          <ows:Voice>{{ provider['contact']['info']['phone']['voice'] }}</ows:Voice>{%
          endif %}{%
          if 'fax' in provider['contact']['info']['phone'] %}
          <ows:Facsimile>{{ provider['contact']['info']['phone']['fax'] }}</ows:Facsimile>{%
          endif %}
        </ows:Phone>{%
        endif %}{%
        if 'address' in provider['contact']['info'] %}
        <ows:Address>{%
          if 'delivery' in provider['contact']['info']['address'] %}
          <ows:DeliveryPoint>{{ provider['contact']['info']['address']['delivery'] }}</ows:DeliveryPoint>{%
          endif %}{%
          if 'city' in provider['contact']['info']['address'] %}
          <ows:City>{{ provider['contact']['info']['address']['city'] }}</ows:City>{%
          endif %}{%
          if 'area' in provider['contact']['info']['address'] %}
          <ows:AdministrativeArea>{{ provider['contact']['info']['address']['area'] }}</ows:AdministrativeArea>{%
          endif %}{%
          if 'postal_code' in provider['contact']['info']['address'] %}
          <ows:PostalCode>{{ provider['contact']['info']['address']['postal_code'] }}</ows:PostalCode>{%
          endif %}{%
          if 'country' in provider['contact']['info']['address'] %}
          <ows:Country>{{ provider['contact']['info']['address']['country'] }}</ows:Country>{%
          endif %}{%
          if 'email' in provider['contact']['info']['address'] %}
          <ows:ElectronicMailAddress>{{ provider['contact']['info']['address']['email'] }}</ows:ElectronicMailAddress>{%
          endif %}
        </ows:Address>{%
        endif %}
      </ows:ContactInfo>{%
      endif %}
    </ows:ServiceContact>{%
    endif %}
  </ows:ServiceProvider>{%
  endif %}
  <ows:OperationsMetadata>
    <ows:Operation name="GetCapabilities">
      <ows:DCP>
        <ows:HTTP>
          <ows:Get xlink:href="{{getcapabilities}}">
            <ows:Constraint name="GetEncoding">
              <ows:AllowedValues>
                <ows:Value>REST</ows:Value>
              </ows:AllowedValues>
            </ows:Constraint>
          </ows:Get>{%
          if server %}
          <ows:Get xlink:href="{{base_urls[0]}}{{base_url_postfix}}">
            <ows:Constraint name="GetEncoding">
              <ows:AllowedValues>
                <ows:Value>KVP</ows:Value>
              </ows:AllowedValues>
            </ows:Constraint>
          </ows:Get>{%
          endif %}
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation>
    <ows:Operation name="GetTile">
      <ows:DCP>
        <ows:HTTP>{%
          for base_url in base_urls %}
          <ows:Get xlink:href="{{base_url}}{{base_url_postfix}}">
            <ows:Constraint name="GetEncoding">
              <ows:AllowedValues>
                <ows:Value>REST</ows:Value>{%
                if server %}
                <ows:Value>KVP</ows:Value>{%
                endif %}
              </ows:AllowedValues>
            </ows:Constraint>
          </ows:Get>{%
          endfor %}
        </ows:HTTP>
      </ows:DCP>
    </ows:Operation>
  </ows:OperationsMetadata>
  <!-- <ServiceMetadataURL xlink:href="" /> -->
  <Contents>
    {% for layername, layer in sorted(layers.items()) %}
    <Layer>
      <ows:Title>{{layer.get('title', layername)}}</ows:Title>
      <ows:Identifier>{{layername}}</ows:Identifier>
      <Style isDefault="true">
        <ows:Identifier>{{layer['wmts_style']}}</ows:Identifier>{%
        for legend in layer_legends[layername] %}
        <LegendURL format="{{legend['mime_type']}}" xlink:href="{{legend['href']}}" {%
        if 'width' in legend %}width="{{legend['width']}}" {% endif %}{%
        if 'height' in legend %}height="{{legend['height']}}" {% endif %}{%
        if 'max_scale' in legend %}maxScaleDenominator="{{legend['max_scale']}}" {% else %}{%
        if 'max_resolution' in legend %}maxScaleDenominator="{{legend['max_resolution'] / 0.00028}}" {%
        endif %}{% endif %}{%
        if 'min_scale' in legend %}minScaleDenominator="{{legend['min_scale']}}" {% else %}{%
        if 'min_resolution' in legend %}minScaleDenominator="{{legend['min_resolution'] / 0.00028}}" {%
        endif %}{% endif %}/>{%
        endfor %}
      </Style>
      <Format>{{layer['mime_type']}}</Format>{%
      if 'query_layers' in layer %}{%
      for info_format in layer.get('info_formats', ['application/vnd.ogc.gml']) %}
      <InfoFormat>{{infoformat}}</InfoFormat>{%
      endfor %}{%
      endif %}{%
      for dimension in layer['dimensions'] %}
      <Dimension>
        <ows:Identifier>{{dimension['name']}}</ows:Identifier>
        <Default>{{dimension['default']}}</Default>{%
            for value in dimension['values'] %}
        <Value>{{value}}</Value>{%
            endfor %}
      </Dimension>{%
      endfor %}{%
      for base_url in base_urls %}
      <ResourceURL format="{{layer['mime_type']}}" resourceType="tile"
                   template="{{base_url}}{{base_url_postfix}}1.0.0/{{layername}}/{{layer['wmts_style']}}{%
                        for dimension in layer['dimensions']
                            %}/{{('{' + dimension['name'] + '}')}}{%
                        endfor
                   %}/{TileMatrixSet}/{TileMatrix}/{TileRow}/{TileCol}.{{layer['extension']}}" />{%
      endfor %}
      <TileMatrixSetLink>
        <TileMatrixSet>{{layer["grid"]}}</TileMatrixSet>
      </TileMatrixSetLink>
    </Layer>
    {% endfor %}

    {% for gridname, grid in sorted(grids.items()) %}
    <TileMatrixSet>
      <ows:Identifier>{{gridname}}</ows:Identifier>
      <ows:SupportedCRS>urn:ogc:def:crs:{{
            grid['srs'].replace(':', '::')
      }}</ows:SupportedCRS>{%
        for i, resolution in enumerate(grid['resolutions']) %}{%
        set width = int(ceil(
                (grid['bbox'][2]-grid['bbox'][0]) /
                resolution / grid['tile_size'])) %}{%
        set height = int(ceil(
                (grid['bbox'][3]-grid['bbox'][1]) /
                resolution / grid['tile_size'])) %}{%
        set left = grid['bbox'][0] %}{%
        set top = grid['bbox'][3] %}
      <TileMatrix>
        <ows:Identifier>{{ get_tile_matrix_identifier(grid, resolution=resolution, zoom=i) }}</ows:Identifier>
        <ScaleDenominator>{{resolution / 0.00028}}</ScaleDenominator>
        <TopLeftCorner>{{left}} {{top}}</TopLeftCorner>
        <TileWidth>{{grid['tile_size']}}</TileWidth>
        <TileHeight>{{grid['tile_size']}}</TileHeight>
        <MatrixWidth>{{width}}</MatrixWidth>
        <MatrixHeight>{{height}}</MatrixHeight>
      </TileMatrix>{%
      endfor %}
    </TileMatrixSet>{%
    endfor %}
  </Contents>
</Capabilities>
