c2cciutils[checks]==1.7.5
tag-publish==1.2.6
poetry-dynamic-versioning==1.4.1
poetry-plugin-export==1.8.0
poetry-plugin-tweak-dependencies-version==1.5.7
pre-commit==4.6.2
poetry-plugin-drop-python-upper-constraint==0.1.0
importlib-metadata<8.5.1
