c2cciutils==1.1.17
pip>=21.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
pyopenssl==22.1.0
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
