---
name: Rebuild

on:
  schedule:
    - cron: '30 2 * * *'

jobs:
  rebuild:
    runs-on: ubuntu-20.04
    name: Rebuild
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        branch:
          - '1.17'
          - master

    env:
      REDIS_URL: redis://localhost:6379

    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ matrix.branch }}

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: pypi docker

      - run: echo "${HOME}/.local/bin" >> ${GITHUB_PATH}
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - name: Checks
        run: c2cciutils-checks

      - run: touch tilecloud_chain/OpenLayers.js

      - name: Build
        run: |
          python setup.py --long-description > PYPI.md
          docker build --tag=camptocamp/tilecloud-chain:tests --target=tests .
          docker build --tag=camptocamp/tilecloud-chain .
          git --no-pager diff --check `git log --oneline | tail -1 | cut --fields=1 --delimiter=' '`

      - name: Test
        run: |
          docker-compose up -d

          # Wait for DB to be up
          while ! docker-compose exec -T test psql -h db -p 5432 -U postgres -v ON_ERROR_STOP=1 -c "SELECT 1" -d tests
          do
            echo "Waiting for DB to be UP"
            sleep 1
          done

          # nosetests is for version 1.14
          docker-compose exec -T test pytest || docker-compose exec -T test python setup.py nosetests --logging-filter=tilecloud,tilecloud_chain --attr '!'nopy3

          docker-compose down

      - run: docker-compose logs
        if: failure()

      - name: Publish
        run: c2cciutils-publish --type=rebuild --branch=${{ matrix.branch }}
