name: Rebuild

on:
  schedule:
    - cron: 30 2 * * *

jobs:
  rebuild:
    name: Rebuild
    runs-on: ubuntu-24.04
    timeout-minutes: 20

    strategy:
      fail-fast: false
      matrix:
        include:
          - branch: '1.17'

    env:
      REDIS_URL: redis://localhost:6379

    steps:
      - run: docker system prune --all --force
      - uses: actions/checkout@v6
        with:
          ref: ${{ matrix.branch }}

      - uses: camptocamp/initialise-gopass-summon-action@v2
        with:
          ci-gpg-private-key: ${{secrets.CI_GPG_PRIVATE_KEY}}
          github-gopass-ci-token: ${{secrets.GOPASS_CI_GITHUB_TOKEN}}
          patterns: pypi docker

      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - run: python3 -m pip install setuptools==76.1.0 wheel==0.45.1
      - run: python3 -m pip install --user --requirement=ci/requirements.txt

      - name: Checks
        run: c2cciutils-checks

      - name: Build
        run: make build

      - name: Tests
        run: make tests

      - run: c2cciutils-docker-logs
        if: always()

      - name: Publish
        run: c2cciutils-publish --type=rebuild --branch=${{ matrix.branch }}
